@use "./../abstracts/colors.scss" as *;

.button {
  display: inline-flex;
  align-items: center;
  background-color: $secondary;
  color: #fff;
  font-size: 1.6rem;
  border: none;
  height: 5rem;
  padding: 0 3rem;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s ease-in, color 0.3s ease, border 0.3s ease,
    background 0.3s ease;
  border-radius: 30px;
  border: 2px solid $secondary;

  &--primary {
    background-color: $primary;
    border-color: $primary;
  }

  &--small {
    height: 4rem;
  }

  &:hover {
    transform: scale(1.05);
    background: transparent;
    color: $secondary;
  }

  &--primary:hover {
    color: $primary;
  }

  &--white-hov:hover {
    border-color: #fff;
    color: #fff;
  }
}
